.header {
    background-color: #f4f4f4;
    padding: 20px 0;
    text-align: center;
}

.logo {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}